# General#
###################
History/*
Rhino_panel.PcbDoc
Rhino_panel_s.PcbDoc
# GPS #
###################
01_GPS/History/*
01_GPS/01_SCH/__Previews/*
01_GPS/02_PCB/__Previews/*
01_GPS/4_OUTPUT_FILES/__Previews/*
01_GPS/Project Logs/*
01_GPS/Project Outputs/*
01_GPS/01_SCH/History/*
01_GPS/02_PCB/History/*
01_GPS/04_OUTPUT_FILES/History/*
# SPACER 1 #
###################
02_SPACER_1/History/*
02_SPACER_1/01_SCH/__Previews/*
02_SPACER_1/4_OUTPUT_FILES/__Previews/*
02_SPACER_1/Project Logs/*
02_SPACER_1/Project Outputs/*
02_SPACER_1/01_SCH/History/*
02_SPACER_1/02_PCB/History/*
02_SPACER_1/04_OUTPUT_FILES/History/*
# POWER #
###################
03_POWER/History/*
03_POWER/01_SCH/__Previews/*
03_POWER/4_OUTPUT_FILES/__Previews/*
03_POWER/Project Logs/*
03_POWER/Project Outputs/*
03_POWER/01_SCH/History/*
03_POWER/02_PCB/History/*
03_POWER/04_OUTPUT_FILES/History/*
# SPACER 2 #
###################
04_SPACER_2/History/*
04_SPACER_2/01_SCH/__Previews/*
04_SPACER_2/4_OUTPUT_FILES/__Previews/*
04_SPACER_2/Project Logs/*
04_SPACER_2/Project Outputs/*
04_SPACER_2/01_SCH/History/*
04_SPACER_2/02_PCB/History/*
04_SPACER_2/04_OUTPUT_FILES/History/*
# MCU #
###################
05_MCU_LORA/History/*
05_MCU_LORA/01_SCH/__Previews/*
05_MCU_LORA/4_OUTPUT_FILES/__Previews/*
05_MCU_LORA/Project Logs/*
05_MCU_LORA/Project Outputs/*
05_MCU_LORA/01_SCH/History/*
05_MCU_LORA/02_PCB/History/*
05_MCU_LORA/04_OUTPUT_FILES/History/*
# LORA #
###################
06_LORA_ANT/History/*
06_LORA_ANT/01_SCH/__Previews/*
06_LORA_ANT/4_OUTPUT_FILES/__Previews/*
06_LORA_ANT/Project Logs/*
06_LORA_ANT/Project Outputs/*
06_LORA_ANT/01_SCH/History/*
06_LORA_ANT/02_PCB/History/*
06_LORA_ANT/04_OUTPUT_FILES/History/*
